body {
    background-color: rgb(82, 86, 89);
    margin: 0;
}

.wrap {
    display: flex;
}

.pages {
    margin-right: 100px;
}

.page {
    box-shadow: 1px 2px 5px rgb(0, 0, 0);
    margin-bottom: 10px;
    float: left;
    cursor: pointer;
}

.page:hover {
    box-shadow: 1px 2px 25px rgb(0, 0, 0);
}

.pageNumber {
    color: white;
    font: 33pt monospace;
    margin-left: 20px;
}

.pageWrap {
    clear: both;
    padding: 10px;
}

.text {
    color: white;
    font: 15pt monospace;
}